{% extends "demoapp/base.html" %}

{% block body %}

<ul class="thumbnails">
	{% for person in people %}
		<li class="span3 well" >
			<h1>{{person.name}} <small>{{person.twitter_username}}</small></h1>
			<div style="height: 250px">
				<img class="thumbnail" width="200" src="{{person.picture_url}}" >
			</div>			
			<a href="{% url follow person.id %}" class="btn btn-primary">Follow</a>
			<span class="label label-info"><i class="icon-user icon-white"> </i> {{person.follow_count}} follows</span>
		</li>
	{% endfor %}
</ul>
{% endblock %}