{% extends "presentation/base.html" %}

{% block body %}
<h1>Agenda</h1>

<div class="content-body">
	We're going to build an app to log in to twitter, see a list of interesting people, and follow them.
	<hr/>
<ul>
	<li>virtualenv &amp; pip </li>
	<li>Projects vs. Apps</li>
	<li>Django Fundamentals
		<ul>			
			<li>models &amp; migrations</li>
			<li>admin tool</li>
			<li>urls</li>
			<li>views &amp; templates</li>
		</ul>
	</li>
	<li>Authentication (via twitter)</li>
	<li>Managing Static Files (+Bootstrap)</li>
	<li>Deploying to Heroku</li>
</ul>

</div>

{% endblock %}